*.pyc
*.pkl
*.so
*.egg-info/
.DS_Store
*.pth
src/
pw
*.o
*.ipynb
*.out
npz/
*.npy
dev/transfer.c
*.jpg
*.png
*.bmp
*.bak
*.zip
.*.swp


# vscode
.vscode/

# Physics
physics/*.txt
physics/*.json
# Physics assets
physics/models


*/events*
0_VRDemoSettings.txt



cnn_policy*
*ppo_policy*
checkpoint
*.log
*.log.*
*.model.*
examples/train/models/


log_*/
baselines/
aws/
monitor_*
comparison/
0.monitor.csvpaper/
0.monitor.csv

cvpr/
gibson/cpp-household

*.idea*

# Plotting
examples/scripts/plot*


#pycharm
.idea*

#models
nav_models

gibson/assets
