[submodule "gibson/core/channels/assimp"]
	path = gibson/core/channels/assimp
	url = https://github.com/assimp/assimp
[submodule "gibson/core/channels/glfw"]
	path = gibson/core/channels/glfw
	url = https://github.com/glfw/glfw.git
[submodule "gibson/core/channels/external/lodepng"]
	path = gibson/core/channels/external/lodepng
	url = https://github.com/lvandeve/lodepng
[submodule "gibson/core/channels/glm"]
	path = gibson/core/channels/glm
	url = https://github.com/g-truc/glm
