*.pyc
*.pkl
*.so
*.egg-info/
.DS_Store
*.pth
src/
pw
*.o
*.ipynb
*.out
npz/
11HB6XZSh1Q/
11HB6XZSh1Q*/
*.npy
dev/transfer.c
*.jpg
*.png
*.bmp
*.bak
*.zip


# vscode
.vscode/

# Physics
physics/*.txt
physics/*.json
# Physics assets
physics/models


*/events*
0_VRDemoSettings.txt



cnn_policy*
checkpoint