recursive-include gibson/ *

global-exclude *.pyc
exclude gibson/assets/assets_config.yaml
recursive-exclude gibson/assets/assets_data/ *
recursive-exclude gibson/core/channels/assimp/test/ *
recursive-exclude gibson/core/channels/glm/doc/ *