numpy
pyglet>=1.2.0
gym==0.9.4
PyYAML>=3.12
pybullet
transforms3d>=0.3.1
tqdm>=4
pyzmq>=16.0.2
Pillow>=4.2.1
matplotlib>=2.1.0
mpi4py
cloudpickle>=0.4.1
pygame==1.9.5; python_version == '2.7.x'
pygame; python_version > '2.7.x'
opencv-python==4.2.0.32
torchvision==0.2.0
aenum
termcolor